@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Honk&display=swap');





.header {
    width: 100%;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between; /* 좌우 여백을 최대로 확보하여 자식 요소를 양 옆에 배치합니다. */
    align-items: center; /* 자식 요소를 수직으로 중앙 정렬합니다. */
}

.header-left {
    display: flex; /* 요소들을 행 방향으로 배치합니다. */
    align-items: center; /* 자식 요소를 수직으로 중앙 정렬합니다. */
    padding: 10px;
}

.header-right {
    display: flex; /* 요소들을 행 방향으로 배치합니다. */
    align-items: center; /* 자식 요소를 수직으로 중앙 정렬합니다. */
    padding: 10px;
}

.logo {
    margin-right: 20px;
}

.header-left-menu1,
.header-left-menu2,
.header-left-menu3 {

    font-family: Antonio !important;
    margin-top: 12px;
    font-size: 20px;
    margin-right: 20px;
}

.header-right span {
    font-family: Antonio !important;
    margin-top: 12px;
    font-size: 20px;
    margin-right: 20px;
}


/* ----------------------- 슬라이더 구현 부분 ---------------------- */

/* slider */
.slider__wrap {
    margin-top: 30px;
    background-color: #0b542d;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 이미지 보이는 부분 */
.slider__img {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}
/* 이미지 감싸고 있는 부모 : 움직이는 부분 */
.slider__inner {
    display: flex;
    flex-wrap: wrap;
    width: 3000px;
    height: 400px;
}

/* 개별적인 이미지 */
.slider {
    position: relative;
    width: 600px;
    height: 400px;
}

.slider img{
    width: 100%;
}

@media (max-width: 800px) {
    .slider__img {
        width: 400px;
        height: 300px;
    }
}

.slider__btn a {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.4);
    text-align: center;
    line-height: 50px;
    transition: all 0.2s;
    display: block;
    color: #fff;
}

.slider__btn a:hover {
    border-radius: 50%;
    background: rgba(255,255,255,0.4);
    color:#000;
}

.slider__btn a.prev {
    /* left: 0; */
    left: 0;
}

.slider__btn a.next {
    right: 0;
}

.slider__dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.slider__dot .dot {
    width: 20px;
    height: 20px;
    background: rgba(10, 148, 98, 0.5);
    display: inline-block;
    border-radius: 50%;
    text-indent: -9999px;
    transition: all 0.3s;
    margin: 2px;
}
.slider__dot .dot.active {
    background: green;
}


/* ----------------------- 링크 연결 구현부 ---------------------- */


.my-portfolio-site-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-height: 500px; /* 적절한 높이로 설정하세요 */
}

.my-portfolio-site-link-title {
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    font-family: Antonio !important;
    margin-bottom: 20px;
    text-align: center;
}

.my-site-link-individual {
    margin: 50px;
    margin-top: 200px;
    font-size: 30px;
    font-weight: bold;
    font-family: Antonio !important;
    position: relative;
    max-height: 450px;
    top: -100px;
}


.my-site-link-individual a {
    display: block;
}

.my-site-link-individual:nth-child(1) img {
    width: 200px;
    height: auto;
    transition: all 0.5s linear;
}
.my-site-link-individual:nth-child(2) img {
    width: 250px;
    height: auto;
    transition: all 0.5s linear;
}
.my-site-link-individual:nth-child(3) img {
    width: 220px;
    height: auto;
    transition: all 0.5s linear;
}

.my-site-link-individual:hover img {
    transform: scale(1.2);
}